@page
@model BookwormsOnline.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
<form method="post">
    <p>Are you sure you want to logout?</p>
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
