@{
    ViewData["Title"] = "Welcome to Bookworms Online";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Bookworms Online!</h1>
    <p class="lead">Discover our collection of books and join our membership service to enjoy exclusive benefits.</p>
    <hr class="my-4" />
    <p>Please login or register to access your personalized account.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" asp-controller="Account" asp-action="Register" role="button">Register</a>
    </p>
</div>
